[submodule "extern/gsconfig"]
	path = extern/gsconfig
	url = https://github.com/birdage/gsconfig.git
[submodule "extern/coverage-model"]
	path = extern/coverage-model
	url = https://github.com/ooici/coverage-model.git
[submodule "extern/pyon"]
	path = extern/pyon
	url = https://github.com/ooici/pyon.git
[submodule "extern/multicorn"]
	path = extern/Multicorn
	url = https://github.com/birdage/Multicorn.git
[submodule "extern/ion-definitions"]
	path = extern/ion-definitions
	url = https://github.com/ooici/ion-definitions.git
